registry=https://pkgs.dev.azure.com/protrak/36136e82-6635-405b-a553-98ffdc172051/_packaging/ProtrakPackages/npm/registry/
 
always-auth=true
 
 
; begin auth token
 
//pkgs.dev.azure.com/protrak/36136e82-6635-405b-a553-98ffdc172051/_packaging/ProtrakPackages/npm/registry/:username=ankhiya.shah
 
//pkgs.dev.azure.com/protrak/36136e82-6635-405b-a553-98ffdc172051/_packaging/ProtrakPackages/npm/registry/:_password=YTY2N2Y3dHRteTVxaDVsZmZ5NnVzc2c3bnNsNWw2emJieXJ1cXJ6dG1rY2VucXdobTQ3cQ==
 
//pkgs.dev.azure.com/protrak/36136e82-6635-405b-a553-98ffdc172051/_packaging/ProtrakPackages/npm/registry/:email=ankhiya.shah@prorigosoftware.com
 
//pkgs.dev.azure.com/protrak/36136e82-6635-405b-a553-98ffdc172051/_packaging/ProtrakPackages/npm/:username=ankhiya.shah
 
//pkgs.dev.azure.com/protrak/36136e82-6635-405b-a553-98ffdc172051/_packaging/ProtrakPackages/npm/:_password=YTY2N2Y3dHRteTVxaDVsZmZ5NnVzc2c3bnNsNWw2emJieXJ1cXJ6dG1rY2VucXdobTQ3cQ==
 
//pkgs.dev.azure.com/protrak/36136e82-6635-405b-a553-98ffdc172051/_packaging/ProtrakPackages/npm/:email=ankhiya.shah@prorigosoftware.com
 
; end auth token